.portfolio-card {
  margin: 0.1em;
  border: solid #333333 0.1em;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0.3em 2.5em;
  background-color: whitesmoke;
  opacity: 0.75;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.portfolio-card > * {
  align-self: center;
  justify-self: flex-start;
}
.description {
  height: 4em;
}

.portfolio-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .portfolio-card {
    width: 100%;
  }
}
