.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: stretch;
}

body {
  font-family: "Quicksand", sans-serif;
  /*   background-color: #e8f2f8; */
  background-image: linear-gradient(#e8f2f8, #f0fbff);
  min-height: 100vh;
  margin: 0;
}

h1 {
  color: #614344;
  font-family: "Volkhov", serif;
  font-size: 2.6em;
}

h2 {
  color: #88527f;
  font-family: "Volkhov", serif;
  font-size: 1.8em;
  font-weight: lighter;
  text-align: justify;
}

h3 {
  color: #4a4459;
  font-family: "Volkhov", serif;
  font-size: 1.4em;
  margin: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 16in;
  align-content: center;
  margin: auto;
  min-height: 70vh;
  padding: 10px;
}

p {
  text-align: justify;
  margin: 1em;
  color: #332c23;
  line-height: 1.5em;
}

.footer {
  justify-self: flex-end;
}
::selection {
  background: #88527f;
  color: white;
}
